//
// isk.scss
// ISK main stylesheet
//
// This stylesheet contains the ISK specific styles needed on
// top of bootstraps css.
//
// Created by Vesa-Pekka Palmu on 2015-03-17.
// Copyright 2015 Vesa-Pekka Palmu. All rights reserved.
//

// Bootstrap scrollspy requires that the body has relative postitioning
body {
	padding-top: 90px;
	position: relative;
}

// Navbar and other navigation stuff
// We need to slightly tune the bootstrap navbar for the way we abuse it.

nav#top-navbar {
	// Pad the isk logo so that it sits nicely
  a.navbar-brand {
    padding-top: 18px;
  }

	// Highlight color for the number of open tickets
	#tickets_tab {
		span.notice {
			background-color: $brand-warning;
		}
	}

	// Tabs that want attention, like displays when there are errors detected
	li.navbar-warning {
		background-color: $state-warning-bg;
	}

	li.navbar-warning a:hover {
		background-color: darken($state-warning-bg, 10%);
	}

	// The lower navigation bar for component specific actions (list, new, etc)
	#navbar-actions {
		margin-left: 60px;

		a {
			padding: 5px 5px;
		}
	}

	// Notification if running on non-production environment
	p.danger {
		color: $brand-danger;
		font-weight: bold;
	}
}

// Group navigation sidebar
// shared/_group_links.html.slim
div#group_links {
	display: block;
	position: fixed;
	max-width: 150px;
	margin: 75px 15px 0px 0px;
	top: 0px;
	right: 6px; // WTF is this requirement?

	li {
		a {
			color: $text_color;
			padding: 2px 5px;
		}
	}
}

// Bootstrap panel extensions / modifications

// Use a slightly bigger font on panel headings and fix link color on them
div.panel-heading {
  font-size: 150%;

  a {
    color: inherit;
  }
}

// displays/_display.html.slim partial styling
// A bootstrap panel with condensed information for a display
div.panel-display {
	display: inline-block;
	margin: 5px;

	div.panel-heading:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			background-color: #000;
			box-shadow: #333 0 0 7px 1px, inset #DDD 0 0 2px;
			margin-right: 0.5em;
			width: 10px;
			height: 10px;
			border-radius: 50%;
	};

  img.wpe-icon {
    height: 2em;
    width: auto;
    float: right;
    margin-top: -5px;
  }

	&.display-live div.panel-heading:before {
		background-color: $brand-success;
	}

	div.panel-body {
		padding: 0;

		img {
			margin-bottom: 5px;
		}
	}

	div.panel-footer {
		padding: 5px;
		text-align: center;

		div.btn-group {
			a {
				padding: 5px;
			}
		}
	}
}

// mastergroups/_mastergroup.html.slim
// We float the buttons in the header to right
div.panel-iskgroup {
  div.panel-heading {
    div.btn-group {
      float: right;
    }
  }
}


// Forms

// Add a tad of margins for inline style bootsrap forms
form.form-inline {
  label {
    margin: 0px 5px;
  }

  input {
    margin: 0px 5px;
  }
}

// Tabs

// Better link color on tabs
ul.nav.nav-tabs {
	a {
		color: $text-color;
	}
}
